html{
    height: 100%;
    width : 100%
}
body{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
align-items: center;
align-content: center;
margin-left: 40%;
}
.container{
    align-items: center;
    align-content: center;
    border : 1px solid black; 
    
}
h1{
border : 2px solid black;
margin: 5%;
}
button{
    border: 2px solid black;
}
#value{
    align-self: self-end;
    align-items: center;
    margin: 45%;
    font-size: 35px;
}
.heel{
    margin: 20%;
}


